<h1>Menu#index</h1>
<p>Find me in app/views/menu/index.html.erb</p>

<ul>
  <li><%= link_to("Test", :controller => :query, :action => :test) %></li>
  <li><%= link_to("Large Objects", :controller => :query, :action => :large_object) %></li>
  <li><%= link_to("Objects with Many Files", :controller => :query, :action => :many_files) %></li>
  <li><%= link_to("Storage Nodes", :controller => :query, :action => :nodes) %></li>
  <li><%= link_to("Holding by Owner", :controller => :query, :action => :owners) %></li>
  <li><%= link_to("Mime Types", :controller => :query, :action => :mime_types) %></li>
  <li><%= link_to("Files with Non-Ascii Filenames", :controller => :query, :action => :files_non_ascii) %></li>
</ul>
