<h1><%= APP_CONFIG['app_name'] %></h1>

<ul>
  <li>
    Objects
    <ul>
      <li>
        <% obj = url_for(controller: :query, action: :objects) %>
        <form action="<%= obj %>" method="get">
          Object(s) by Ark: <input name="ark" type="text" value="ark:/" size=40 />
          <input type="submit" value="Go!"/>
        </form>
      </li>
      <li>
        <% obj = url_for(controller: :query, action: :objects_by_title) %>
        <form action="<%= obj %>" method="get">
          Object(s) by Title: <input name="title" type="text" value="" size=40 />
          <input type="submit" value="Go!"/>
        </form>
      </li>
      <li>
        <% obj = url_for(controller: :query, action: :objects_by_author) %>
        <form action="<%= obj %>" method="get">
          Object(s) by Author: <input name="author" type="text" value="" size=40 />
          <input type="submit" value="Go!"/>
        </form>
      </li>
      <li>
        <% obj = url_for(controller: :query, action: :objects_by_file) %>
        <form action="<%= obj %>" method="get">
          Object(s) by Filename: <input name="file" type="text" value="" size=40 />
          Collection: <input name="coll" type="text" value="cdl_uc3" size=40 />
          <input type="submit" value="Go!"/>
        </form>
      </li>
    </ul>
  </li>
  <li><%= link_to("Large Objects", :controller => :query, :action => :large_object) %></li>
  <li><%= link_to("Objects with Many Files", :controller => :query, :action => :many_files) %></li>
  <li><%= link_to("Storage Nodes", :controller => :query, :action => :nodes) %></li>
  <li><%= link_to("Items by Owner", :controller => :query, :action => :owners) %></li>
  <li><%= link_to("Items by Collection", :controller => :query, :action => :collections) %></li>
  <li><%= link_to("Mime Types", :controller => :query, :action => :mime_types) %></li>
  <li><%= link_to("Files with Non-Ascii Filenames", :controller => :query, :action => :files_non_ascii) %></li>
</ul>
